html{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
}

#background{
    background-color: rgb(255, 254, 247);
    background-image: url("배경.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position-x: center;
}


#content{
    width: auto;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}



/* 젤 윗부분 */
#top{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#iconBox{
    text-align: center;
}

#icon{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(247, 247, 247, 0);
    border: none;
    color: rgb(247, 247, 247);
}



/* 중간부분 */
#middle{
    height: fit-content; 
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* 로그인 등 */
#login{
    height: 338px;
}

#menu{
    height: 350px;
}

/* 오른쪽 내용 */


#one{
    display: grid;
    height: min-content;
    grid-template-columns: 2fr 1fr;
}

#first{
    height: 1fr;
}



#name{
    height: 1fr;
}

.name{
    height: 50px;
    }


#two-four{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#five{
    height: 200px;
}

#sixSeven{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: min-content;
}


.board{
    height: 200px;
}




/* 마지막부분 */
#bottom{
    width: 100%;
    height: 270px; 
    background-color: grey;
    margin: 0px;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
}
